body {
  margin-top: 50px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.statement-editor {
  padding: 0;
}

.highlight {
  background-color: #fdf6e3;
}

th.row-actions {
  width: 145px;
}

th.table-actions {
  width: 100px;
}

.modal-content .rows {
  overflow: auto;
}

.execute-options {
  display: block !important;
  padding: 5px;
}

.row-limit {
  margin: 15px 0 15px 0;
}

.row-limit > input {
  text-align: right;
  border: 1px solid #ddd;
}

.row-limit > label {
  padding-right: 5px;
}

.loading-button {
  margin-top: 15px;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
